/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;

} 


.promo{
  background-color: #dc9c9c;
  text-align: center;
  padding: 10px;
  
    a{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      color: #f9f9f9;
    }
}

.whatsapp{
  position: absolute;

}

#inicialpage{

  a{
    display: flex;
    text-wrap: nowrap;
    color: #5f2b25;
  }
}

  #clcop{
    a{
      color: #dc9c9c;
    }
  }



header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}


.center {
  text-align: center;
}

.vetores{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20rem;
  padding-left: 20rem;


  img{
    size: 50%;
  }
}

img {
  width: 100px;
  height: 100px;
}

/* Estilização Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding: 0 15px;
}

.colec{
  border-top: #dc9c9c 1px solid;
  padding: 1.5rem;
}

.colections {
  display: flex;



  a{
    color: #dc9c9c;
    text-decoration: none;
    font-weight: lighter;
    font-size:1rem;
  }
}

#clcop a:hover{
  color: #5f2b25;
  transition: 0.3s;
}

.clc-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding: 0 15px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: medium;
}

/* Catalog Styles */
.catalog {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.catalog-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.catalog-item:hover {
  transform: scale(1.05);
}


.catalog-item h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.catalog-item p {
  font-size: 1rem;
  color: #666;
  margin: 0 10px 10px;
}

/* estilização produto */
.product {
  width: 10.4rem;
  border-radius: 10px;
  background-color: #dc9c9c;
  text-align: center;
}

.product button {
  width: 100%;
  background-color: #dc9c9c;
  color: #5f2b25;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.product img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product a {
  text-decoration: none;
  color: #5f2b25;
}

.product p {
  font-size: 1rem;
  color: #ffffff;
  margin: 0 10px 10px;
}

.product h3 {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 10px 0;
}

.product button:hover {
  background-color: #1e0a08;
  color: #dc9c9c;
}

.page{
  background-color: #dc9c9c;
  size: 50%;
  
  a{
    font-family: Arial, sans-serif;
  text-align: center;
  color: #5f2b25;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: medium;
  }
}

.colections{
  li{
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
    text-align: center;
  }
  
  a{
    color: #2e2e2e;
    text-decoration: none;
  }
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.localização{
background-color: #dc9c9c;

h2{
  text-align: center;
  color: #5f2b25;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
}

.texto{
  padding: 1rem;
  font-size: 1.5rem;
  color: #5f2b25;
}


.opçoes img {
  width: 20%;
  height: auto;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.opçoes {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  justify-content: center;
}


/* Para tablets e telas médias */
@media (max-width: 1024px) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .vetores{
    display: none;
  }

  .colections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
  }

  .banner {
    height: 15rem;
  }

  .product button {
    font-size: 0.9rem;
  }

  .localização h2 {
    font-size: 1.8rem;
  }
  

  .opçoes {
    display: flex;
    flex-wrap: wrap;
    gap: none;

  }

  .opçoes img {
        margin: 0.3rem;
        display: flex;
        border-radius: 5px;
        justify-content: space-between;
        size: 100%;
      }
      
      .promo{
        font-size: small;
        padding: 0;
      }

      .colections{
        a{
          font-size: small;
          font-weight: 500;
        }
      }
}

/* Para desktops grandes 
@media (min-width: 1200px) {
  .catalog {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .product button {
    font-size: 1.1rem;
  }

  
}
  */

